@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Basic */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252641;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #fff2e1;
}

/* Header */

.main-header .logo {
  cursor: pointer;
  margin-right: auto;
  width: 189px;
  height: 48px;
  left: 122px;
  top: 77px;

  font-weight: bold;
  font-size: 28px !important;
  line-height: 48px;
  letter-spacing: 0.04em;

  color: #113c49;
}

.nav-links {
  list-style: none;
  list-style-type: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #f48c06;
}

.nav-links li.has-submenu a:after {
  content: "\f107";
}

.nav-links li.has-submenu ul li a:after {
  display: none;
  position: absolute;
}

.nav-links li .sub-menu {
  position: absolute;
  width: 160px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.nav-links li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

.nav-links li .sub-menu li {
  display: block;
  margin-left: 0px;
  line-height: 20px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f48c06;
}

.nav-links li .sub-menu li:first-child {
  padding-top: 15px;
}

.nav-links li .sub-menu li:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}

.nav-links li .sub-menu li a {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0px;
  letter-spacing: 0.5px;
  border: none;
  transition: all 0.5s;
}

.nav-links li .sub-menu li a:hover {
  color: #f48c06;
  border: none;
}

/* Buttons */

.main-header a button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.main-header a button:hover {
  padding: 9px 25px;
  background-color: #f48c06;
  color: #ffffff;
}

#login {
  background-color: #ffffff;
  color: #6c6c6c;
}

#login:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

#sign-up {
  background-color: #f48c06;
  color: #ffffff;
}

#sign-up:hover {
  background-color: #ca6c00;
}

@media screen and (max-width: 950px) {
  .main-menu {
    padding-right: 0 !important;
  }
  .main-header .logo {
    line-height: 73px;
  }
  .main-menu li {
    display: block;
    line-height: 1;
  }

  .main-menu li .sub-menu {
    opacity: 1;
    visibility: visible;
    position: static;
    margin-right: auto;
    width: 100%;
  }
  .main-menu li .sub-menu li:last-child {
    border-bottom: 1px solid rgba(250, 250, 250, 0.25);
  }
}
